{% extends 'ecommerce/base.html' %}

{% block content %}

<div class="content">
       
    <video autoplay muted loop>
      <source src="../../static/ecommerce/videos/videoindex.mp4"type="video/mp4" />
    </video>
    <div id="rectangle"><br><center><a href="" style="text-decoration: none;">Télécharger l'application mobile</a></center></div>
    <br><br><br>
 <div class="text" style="text-align: center;">
    Premiere super app en Mauritanie
 </div>
 <div class="p" style="text-align: center;">
    Tous en un
 </div>
 <br><br><br>
 <div style="margin-left: 100px;"><a href="{% url 'ecommerce:indexcommerce' %}" style="display: inline-block;
  background-color: teal;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 150px;
  margin: 5px;">E-commerce</a> 
  <a href="" style="display: inline-block;
  background-color: teal;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 150px;
  margin: 5px;">Pharmacie</a>
  <a href="" style="display: inline-block;
  background-color: teal;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 150px;
  margin: 5px;">Plus ...</a>
  </div>
<br><br><br>
<hr style="border: 6px solid darken(red, 35%);
border-radius: 30px;
box-shadow: 0 0 3px 1px darken(red, 5%);
margin: 0 auto;
position: relative;
width: 90%;
color: teal;">

<br>
<h1 style="color: Black; margin-left: 100px">Livraison</h1>

<br> <br><br><br>

<hr style="border: 6px solid darken(red, 35%);
border-radius: 30px;
box-shadow: 0 0 3px 1px darken(red, 5%);
margin: 0 auto;
position: relative;
width: 90%;
color: teal;">

<br>
<h1 style="color: Black; margin-left: 100px">Taxi Transport</h1>

<br> <br><br><br>

{% endblock %}